appdirs==1.4.3
diff-match-patch==20121119
dj-database-url==0.4.2
Django==1.10.6
django-import-export==0.5.1
gunicorn==19.7.1
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
tablib==0.11.4
whitenoise==3.3.0
