actionlib==1.11.7
appdirs==1.4.3
base-local-planner==1.14.0
bondpy==1.7.18
camera-calibration==1.12.19
camera-calibration-parsers==1.11.11
capabilities==0.2.0
catkin==0.7.4
click==6.7
create-dashboard==2.3.1
create-driver==2.3.1
create-node==2.3.1
cv-bridge==1.12.3
decorator==4.0.11
diagnostic-analysis==1.8.10
diagnostic-common-diagnostics==1.8.10
diagnostic-updater==1.8.10
diff-match-patch==20121119
dj-database-url==0.4.2
Django==1.10.6
django-import-export==0.5.1
dynamic-reconfigure==1.5.46
gazebo-plugins==2.5.8
gazebo-ros==2.5.8
gencpp==0.5.4
geneus==2.2.5
genlisp==0.4.16
genmsg==0.5.8
gennodejs==1.0.3
genpy==0.6.3
geocoder==1.22.4
gunicorn==19.7.1
image-geometry==1.12.3
interactive-markers==1.11.3
kobuki-dashboard==0.5.1
laser-geometry==1.6.4
message-filters==1.12.6
packaging==16.8
pluginlib==1.10.4
psycopg2==2.7.1
pyparsing==2.2.0
python-qt-binding==0.3.1
qt-dotgraph==0.3.3
qt-gui==0.3.3
qt-gui-cpp==0.3.3
qt-gui-py-common==0.3.3
ratelim==0.1.6
requests==2.13.0
resource-retriever==1.12.2
rocon-app-manager==0.9.1
rocon-app-utilities==0.9.1
rocon-apps==0.9.1
rocon-console==0.3.2
rocon-ebnf==0.3.2
rocon-gateway==0.8.1
rocon-gateway-utils==0.8.1
rocon-hub==0.8.1
rocon-hub-client==0.8.1
rocon-interactions==0.3.2
rocon-master-info==0.3.2
rocon-python-comms==0.3.2
rocon-python-redis==0.3.2
rocon-python-utils==0.3.2
rocon-python-wifi==0.3.2
rocon-semantic-version==0.3.2
rocon-uri==0.3.2
rosbag==1.12.6
rosboost-cfg==1.13.4
rosclean==1.13.4
roscreate==1.13.4
rosgraph==1.12.6
roslaunch==1.12.6
roslib==1.13.4
roslint==0.11.0
roslz4==1.12.6
rosmake==1.13.4
rosmaster==1.12.6
rosmsg==1.12.6
rosnode==1.12.6
rosparam==1.12.6
rospy==1.12.6
rospy-message-converter==0.4.0
rosservice==1.12.6
rostest==1.12.6
rostopic==1.12.6
rosunit==1.13.4
roswtf==1.12.6
rqt-action==0.4.3
rqt-bag==0.4.3
rqt-bag-plugins==0.4.3
rqt-console==0.4.3
rqt-dep==0.4.3
rqt-graph==0.4.3
rqt-gui==0.3.1
rqt-gui-py==0.3.1
rqt-image-view==0.4.3
rqt-launch==0.4.3
rqt-logger-level==0.4.3
rqt-moveit==0.5.5
rqt-msg==0.4.3
rqt-nav-view==0.5.5
rqt-plot==0.4.3
rqt-pose-view==0.5.5
rqt-publisher==0.4.3
rqt-py-common==0.4.3
rqt-py-console==0.4.3
rqt-reconfigure==0.4.3
rqt-robot-dashboard==0.5.5
rqt-robot-monitor==0.5.5
rqt-robot-steering==0.5.5
rqt-runtime-monitor==0.5.5
rqt-rviz==0.5.5
rqt-service-caller==0.4.3
rqt-shell==0.4.3
rqt-srv==0.4.3
rqt-tf-tree==0.5.5
rqt-top==0.4.3
rqt-topic==0.4.3
rqt-web==0.4.3
rviz==1.12.4
sensor-msgs==1.12.5
six==1.10.0
smach==2.0.0
smach-ros==2.0.0
smclib==1.7.18
sound-play==0.3.1
tablib==0.11.4
tf==1.11.8
tf-conversions==1.11.8
tf2-geometry-msgs==0.5.13
tf2-kdl==0.5.13
tf2-py==0.5.13
tf2-ros==0.5.13
topic-tools==1.12.6
unique-id==1.0.5
whitenoise==3.3.0
world-canvas-server==0.2.0
world-canvas-utils==0.2.0
xacro==1.11.1
