{% extends './index.html' %}

{% block content %}

  <div class='container'>
    <div class='col-sm-12'>
      <h3> Inspiration</h3>
      <p> We wanted to create a web based application that was helpful and
        meaningful. We identified that 50% of women said they did
        not feel safe walking home at night. Thus, we wanted <b>to create
        an application that would allow users to get from point A to point safely
        in the city of Boston</b>

        <br>
        <br>
        Yet the definition of "safety" can vary greatly, and the current safety
        applications available often times are inherently racist by ignoring
        POC communities.
        <br>
        <br>
        As a result, we created an application that allows you to select crimes
        you want to avoid based on your level of comfort. We researched the following statistics
        and found that saftey could be applicable in several ways

      <ul>
        <li>12% of pedestrian injuries are caused by being hit by a car</li>
        <li> 65% of women experience street harassment </li>
        <li> 43% experience physical assault </li>
      </ul>
    </p>
      <hr>
      <h3> User Research </h3>
      <p>
        In order to design a useful app, we talked to more than ten people to get
        a sense of what they avoid when walking around Boston, what they wish
        to avoid, and how they would prioritize it.

        Some themes included:
        <br> <br>
        <b>Social Interactions</b>
        <div class='well'>
        "I want to avoid trash on the ground, puddles, mud, broken pavement,
         homeless/pan handlers (I feel bad but it's true)"
         - Wellesley College Alum, female, POC
         <br><br>
         "I want to avoid sexual harrassment or catcalling." - Olin College senior, female, POC
         <br><br>
         "So I tend to avoid eye contact with men who are standing around
          as I'm walking on the street."  - Olin College senior, female, POC
        <br>
      </div>

        <b>Construction</b>
        <div class='well'>
        "I avoid super-touristy areas and construction sites" - Babson College senior, male, POC
        <br><br>
        "Construction!"   - Wellesley College senior, female, white
        <br>
      </div>
        <b>Vehicles</b>
        <div class='well'>
        "Ooh I avoid cars at Wellesley by stopping a few feet before
         crossing the road so that they don't wait for me to pass." - Wellesley
         College senior, female, POC
         <br><br>
         "Highways and hills." - Olin College alum, male, POC
       </div>
      </p>

      <hr>
      <h3> Prioritization of Crime Data </h3>
      <p>
      Alongside  gathering insights from students, we also came across
      Boston crime data, which we thought may contain data that could help
      determine a preferred route for our users. We asked the same students
      if the data would be useful, and how they would prioritize the information.
      Below are some feedback for filtering the crime data.

      <div class='well'>

      "Ok so everything that would cause me physical harm is #1.
       Honestly, in no particular order because homicide, disorderly conduct, Etc
        are all horrible. Next, is anything that would cause damage to my
         property like car theft. Last, is things I just wouldn't want to
          see like prostitution."              - Wellesley College alum, female, POC
    </div>
    <div class='well'>
      "So I prioritize homicide/manslaughter/assault incidents,
       then might take measures to minimize risk of theft.
        I dont generally stay overnight in Boston so domestic issues
         rarely touch my radar."   - Wellesley College senior, female, POC

    </div>
    <div class='well'>
      "I would avoid all of these, in this order:
      Homicide, Manslaughter, Indecent Assault, Arson, Operating under the influence,
       Motor Vehicle Accident, Home Invasion, Missing Person reported, Robbery,
       Auto Theft, Property Damage, Disorderly conduct, Prostitution,
        Offences against child/family, Simple assault, Firearm violation,
         Larceny/Larceny from motor vehicles, Firearm discovery, Verbal disputes.
         <br>
         I put crimes that cause immediate bodily harm/casualties near the top,
          because you can buy a new car but a life is irreplaceable. Things
           after Missing Person are pretty random tbh lol just went with my gut."
           - Babson College senior, male, POC
    </div>

    </p>
{% endblock %}
