{% extends './index.html' %}

{% block content %}

  <div class='container'>
    <div class='col-sm-12'>
      <h3> Inspiration</h3>
      <p> We wanted to create a web based application that was helpful and
        meaningful. We identified that 50% of women said they did
        not feel safe walking home at night. Thus, we wanted <b>to create
        an application that would allow users to get from point A to point safely
        in the city of Boston</b>

        <br>
        <br>
        Yet the definition of "safety" can vary greatly, and the current safety
        applications available often times are inherently racist by ignoring
        POC communities.
        <br>
        <br>
        As a result, we created an application that allows you to select crimes
        you want to avoid based on your level of comfort. We researched the following statistics
        and found that saftey could be applicable in several ways

      <ul>
        <li>12% of pedestrian injuries are caused by being hit by a car</li>
        <li> 65% of women experience street harassment </li>
        <li> 43% experience physical assault </li>
      </ul>

{% endblock %}
