{% extends './index.html' %}

{% block content %}

<div class='container'>
  <div class='row'>
    <div class='col-sm-4'>
      <div style="border:1px;width:400px;height:600px;overflow:scroll;overflow-y:scroll;overflow-x:hidden;">
      <ul>
        <li>START: {{location_a}}</li>
        <li> END: {{location_b}}</li>
      </ul>
        <hr>
      <ul>
        {% for route_dict in route %}
        <p>Turn {{ forloop.counter }}</p>
          <li><img src="{{ route_dict.iconUrl }}" alt=""></li>
          <li>{{ route_dict.distance }} mi</li>
          <li>{{ route_dict.narrative }}</li>
          <hr>
        {% endfor %}
      </ul>
    </div>
    </div>
    <div class='col-sm-8'>
      <style>
      #map {
        width: 115%;
        height: 100vh;
      }
          </style>
      <div id="map"></div>
      <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'));
        directionsDisplay.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsDisplay)
        var crimepts = {{jsonObject|safe}}
        for (var i = 0; i < crimepts.length; i++){
          var myLatlng = new google.maps.LatLng(crimepts[i]['lat'],crimepts[i]['lng']);
          // Place a draggable marker on the map
          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title:"Bulldick!"
          });
        }
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var waypts = [];
        var mapquest_waypts = {{ mapquest_waypts|safe }}
        for (var i = 0; i < mapquest_waypts.length; i++) {
          waypts.push({
            location: mapquest_waypts[i],
            stopover: true
          });
        }

        directionsService.route({
          origin: '{{location_a}}',
          destination: '{{location_b}}',
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'WALKING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            // var summaryPanel = document.getElementById('directions-panel');
            // summaryPanel.innerHTML = '';
            // // For each route, display summary information.
            // for (var i = 0; i < route.legs.length; i++) {
            //   var routeSegment = i + 1;
            //   summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
            //       '</b><br>';
            //   summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
            //   summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
            //   summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            // }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{googleJS_API}}&callback=initMap">
    </script>
      <!-- <iframe
      width="600"
      height="450"
      src="https://www.google.com/maps/embed/v1/directions?key={{googleAPI}}&origin={{location_a}}&destination={{location_b}}" allowfullscreen></iframe> -->
    </div>
  </div>
</div>


{% endblock %}
