{% extends './index.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div style="border:1px;width:500px;height:600px;overflow:scroll;overflow-y:scroll;overflow-x:hidden;">
      <ul>
        <li>START: {{location_a}}</li>
        <li> END: {{location_b}}</li>
      </ul>
        <hr>
      <ul>
        {% for route_dict in route %}
        <p>Turn {{ forloop.counter }}</p>
          <li><img src="{{ route_dict.iconUrl }}" alt=""></li>
          <li>{{ route_dict.distance }} mi</li>
          <li>{{ route_dict.narrative }}</li>
          <hr>
        {% endfor %}
      </ul>
    </div>
  </div>
    <div class='col-sm-6'>
      <div>
        <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key={{googleAPI}}&q=Space+Needle,Seattle+WA" allowfullscreen>
      </iframe>
      </div>
    </div>

  </div>

</div>

{% endblock %}
