{% extends './index.html' %}

{% block content %}

<div class='container'>
  <div class='row'>
    <div class='col-sm-4'>
      <div style="border:1px;width:400px;height:600px;overflow:scroll;overflow-y:scroll;overflow-x:hidden;">
      <ul>
        <li>START: {{location_a}}</li>
        <li> END: {{location_b}}</li>
      </ul>
        <hr>
      <ul>
        {% for route_dict in route %}
        <p>Turn {{ forloop.counter }}</p>
          <li><img src="{{ route_dict.iconUrl }}" alt=""></li>
          <li>{{ route_dict.distance }} mi</li>
          <li>{{ route_dict.narrative }}</li>
          <hr>
        {% endfor %}
      </ul>
    </div>
    </div>
    <div class='col-sm-1'></div>
    <div class='col-sm-5'>
      <iframe
      width="600"
      height="450"
      src="https://www.google.com/maps/embed/v1/directions?key={{googleAPI}}&origin={{location_a}}&destination={{location_b}}" allowfullscreen></iframe>
    </div>
  </div>
</div>


{% endblock %}
