{% extends './index.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <br><br>
    <div class="col-lg-4 col-lg-offset-4 jumbotron">

        <h4 class="center text-center">Where are you looking to go?</h4>
        <hr>
          <form method='GET' action='/map/' class="form-horizontal">
            <div class="form-group">
              <div class="form-group">

                <div class="col-lg-12">
                  <input type="text" class="form-control" id="location_a"  name="location_a" placeholder="Location A">
                </div>
              </div>
              <div class="form-group">

                <div class="col-lg-12">
                  <input type="text" class="form-control" id="location_b"  name="location_b" placeholder="Location B">
                </div>
              </div>
                <div class='col-sm-12'>
                  <h4 class="center text-center"><b> Events To Avoid </b></h4>
                </div>
                <div class='row'>
                  <div class='col-sm-4'>
                    <h5 class='center text-center'><b> Physical </b></h5>
                    <h6 class="text-left left">
                      <input type="checkbox" name="homicide" >
                      <label for="homicide">Homicide</label> <br>
                      <input type="checkbox" name="manslaugher" >
                      <label for="manslaughter">Manslaughter</label> <br>
                      <input type="checkbox" name="caraccident">
                      <label for="caraccident">Vehicular Accidents</label> <br>
                      <input type="checkbox" name="drunkdriving">
                      <label for="drunkdriving">Drunk Driving</label><br>
                      <input type="checkbox" name="sexualassault">
                      <label for="sexualassault">Sexual Assault</label><br>
                      <input type="checkbox" name="kidnap">
                      <label for="kidnap">Missing Person Reported</label><br>
                    </h6>
                  </div>
                  <div class='col-sm-4'>
                    <h5 class='center text-center'><b> Property </b></h5>
                    <h6 class="text-left left">
                      <input type="checkbox" name="autotheft" >
                      <label for="autotheft">Auto Theft</label> <br>
                      <input type="checkbox" name="robbery" >
                      <label for="robbery">Robbery</label> <br>
                      <input type="checkbox" name="caraccident">
                      <label for="caraccident">Vehicular Accidents</label> <br>
                      <input type="checkbox" name="murder">
                      <label for="murder">Murder</label>
                    </h6>
                  </div>
                  <div class='col-sm-4'>
                    <h5 class='center text-center'><b> Bodily Harm </b></h5>
                    <h6 class="text-left left">
                      <input type="checkbox" name="assault" >
                      <label for="assault">Assault</label> <br>
                      <input type="checkbox" name="kidnap" >
                      <label for="kidnap">Kidnapping</label> <br>
                      <input type="checkbox" name="caraccident">
                      <label for="caraccident">Vehicular Accidents</label> <br>
                      <input type="checkbox" name="murder">
                      <label for="murder">Murder</label>
                    </h6>
                  </div>
                </div>
                </div>
              </div>
              <br><br><br>
              <div class='row'>
                <center>
                <button type="submit" id='homebtn' class="btn btn-default btn-success btn-block">Submit</button>
              </center>
              </div>
            </div>
          </form>


    </div>

  </div>

</div>

{% endblock %}
