<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Route-Home</title>
  <meta name="description" content="The Route Home">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>

<body>

<header class='container'>
  <div class="row">
    <h1 class='col-sm-4'>Route Home</h1>
    <nav class='col-sm-8 text-right'>
     <p>About</p>
     <p>Code</p>
     <p>The Team</p>
   </nav>
 </div>
</header>

<section class='jumbotron'>
  <div class='container'>
    <form method='GET' action='/map/'>
      <div class="form-group">
        <div class='row'>
          <div class='col-sm-5'>
            <label for="startLocation"></label>
            <input type="text" class="form-control" name='location_a' placeholder="Start Location">
            <br>
            <label for="endLocation"></label>
            <input type="text" class="form-control" name='location_b' placeholder="End Location">
          </div>
          <div class='col-sm-2'>
          </div>
          <div class='col-sm-5'>
            <h4><center> Events To Avoid </center></h4>
            <p>
              <input type="checkbox" name="assault" >
              <label for="assault">Assault</label>
              <input type="checkbox" name="kidnap" >
              <label for="kidnap">Kidnapping</label>
              <input type="checkbox" name="caraccident">
              <label for="caraccident">Vehicular Accidents</label>
              <input type="checkbox" name="murder">
              <label for="murder">Murder</label>
            </p>
          </div>
        </div>
        <br><br><br>
        <div class='row'>
          <center>
          <button type="submit" id='homebtn' class="btn btn-default btn-success btn-block">Submit</button>
        </center>
        </div>
      </div>
    </form>
  </div>
</section>



</body>
</html>
