<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Route-Home</title>
  <meta name="description" content="The Route Home">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
</head>

<body>

<header class='container'>
  <div class="row">
    <h1 class='col-sm-4'>Route Home</h1>
    <nav class='col-sm-8 text-right'>
     <p>About</p>
     <p>Code</p>
     <p>The Team</p>
   </nav>
 </div>
</header>

<section class='jumbotron'>
  <div class='container'>
    <div class='row'>
      <form method='GET' action='/map/'>
        <div class="form-group">
          <div class='col-sm-5'>
            <label for="startLocation"></label>
            <input type="text" class="form-control" name='location_a' placeholder="Start Location">
            <label for="endLocation"></label>
            <input type="text" class="form-control" name='location_b' placeholder="End Location">
          </div>
          <div class='col-sm-2'>
          </div>
          <div class='col-sm-5'>

          </div>
        </div>

      </form>
    </div>
  </div>
</section>


        <div class="col-xs-8 col-xs-offset-2 text-center">

          <form method='GET' action='/map/'>

            <div class="form-group">
              <label for="startLocation"></label>
              <input type="text" class="form-control" name='location_a' placeholder="Start Location">
            </div>

            <div class="form-group">
              <label for="endLocation"></label>
              <input type="text" class="form-control" name='location_b' placeholder="End Location">
            </div>

            <div class="form-group">
               <label for="avoided"><h4>Events I Would Like To Avoid</h4></label>
                 <p>
                   <input type="checkbox" id="assault" value="assault">
                   <label for="assault">Assault</label>
                 </p>
                 <p>
                   <input type="checkbox" id="kidnap" value="kidnap">
                   <label for="kidnap">Kidnapping</label>
                 </p>
                 <p>
                   <input type="checkbox" id="caraccident" value="caraccident">
                   <label for="caraccident">Vehicular Accidents</label>
                 </p>
                 <p>
                   <input type="checkbox" id="murder" value="murder">
                   <label for="murder">Murder</label>
                 </p>
             </div>
            <br><br>
            <button type="submit" class="btn btn-default btn-success btn-block">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>

</body>
</html>
