{% extends './index.html' %}

{% block content %}
<div class='container'>
  <div class='col-sm-12'>

<h3><center>ReadMe for Route-Home</center></h3>
<p> You can find our instructions on how to download our app by visiting our
  github, or by following the steps below.<p>
<hr>
<h3>Authors</h3>
<p>
  <ul>
    <li>Christina Gee <b>personal website</b></li>
    <li>Frankie Devanbu <b>personal website</b></li>
    <li>Jeff Pflueger<b>personal website</b></li>
    <li>Alisha Pegan <b>personal website</b></li>
  </ul>
</p>
<h3>Attribution</h3>
<p>
  <ul>
    <li> ZACK THE WIZARD OF DJANDO
  </ul>
</p>
<hr>
<h3>Getting Started</h3>
<ol>
  <li><xmp>mkdir Safe-Route-Home</xmp></li>
  <li><xmp>virtualenv .</xmp></li>
  <li><xmp>git clone</xmp><a href=https://github.com/christinagee/Safe-Route-Home.git></a></li>
  <li><xmp>cd Safe-Route-Home</xmp></li>
  <li><xmp>pip install -r requirements.txt</xmp></li>
  <li><xmp>python manage.py runserver</xmp></li>
</ol>
<p> Our central source of code can be found in the views.pyfile.
<br>
<h3>Usage</h3>
<h3>License</h3>

{% endblock %}
