{% extends './index.html' %}

{% block content %}

  <div class='container'>
    <div class='col-sm-12'>
      <h3> Team</h3>
      <p> Our team consists of three Olin students and a Babson
        student, and we are all passionate about social impact.
        Our majors vary from human health design,
        sustainable design, robotics, administration and management.
        We are extremely proud to have produced an app that interfaces
        with real issues and deals with complex questions regarding
        safety and racial biases in crime statistics.
        Please do not hesitate to provide comments and suggestions for
        our work.
      <hr>
      <h4>Christina Gee</h4>
      <div class='row'>
        <div class='col-sm-2'>
          <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/14732136_10154193052562779_6211280867050836117_n.jpg?oh=7ebcd8403875c30c960f543c7e495d36&amp;oe=59868AAF" width="124" height="82.5">
        </div>
        <div class='col-sm-10'>
        <div class="well">
          Christina is a business students who is well-versed in
          team management, web tech, and sustainability initiatives. In her free time, she enjoys
          browsing Quora or eating honey lavender ice cream.
        </div>
      </div>
    </div>

    <br>
    <h4>Frankie Devanbu</h4>
    <div class='row'>
      <div class='col-sm-2'>
        <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/10891772_908804429132871_5147482254121903611_n.jpg?oh=c7552ed50e3bbb03ed3c9903ae40217d&amp;oe=598E6DC0" width="82.5" height="82.5">
      </div>
      <div class='col-sm-10'>
      <div class="well">
        Frankie is a charasmatic and compassionate human being who is a
        holistic-thinker, investigator, and facilitator. She is super passionate
         about advancing technology for women's health, and practicing the design
         methologies to create impactful solutions. You can usually find her in the
         dining hall with a onesie and a dinosaur singing the blues.
      </div>
    </div>
  </div>

  <br>
  <h4>Jeff Pflueger</h4>
  <div class='row'>
    <div class='col-sm-2'>
      <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/17190564_1872183656331455_5175419662515228390_n.jpg?oh=d94298faff6829873537e180fd3d85e7&amp;oe=59C29626" width="82.5" height="82.5">
    </div>
    <div class='col-sm-10'>
    <div class="well">
      Jeff is a caring and resourceful person who can break down goals
      into digestable chunks. He is a planner and likes to see how pieces of a
      system fits together as a whole. He is excited about his future as a
      robotics engineer and aims to use technology in impactful ways. He likes
      to hang upside down while solving crossword puzzles.
    </div>
  </div>
</div>

<br>
<h4>Alisha Pegan</h4>
<div class='row'>
  <div class='col-sm-2'>
    <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/11059973_10207638783113492_973339677034828885_o.jpg?oh=27356f2cafb58d9dadf16874c6a4a8d7&amp;oe=59C29D1C" width="146.5" height="82.5">
  </div>
  <div class='col-sm-10'>
  <div class="well">
    Alisha is an enthusiastic and jubilant human being who has been told her laughter
    sounds like the laugh of a genius or a lunatic. She cares a lot about sustainable
    urban development and creating more livable and healthier cities. If you ever feed
    her hot cheetos, you will automatically become her best friend.
  </div>
</div>
</div>
<br>
<h3> Attributors </h3>
<hr>
<h4>Zach Bedrosian</h4>
<div class='row'>
  <div class='col-sm-2'>
    <img src='http://zacharybedrosian.com/images/zach.png' width="82.5" height="82.5">
  </div>
  <div class='col-sm-10'>
  <div class="well">
    Zach is a Babson student and also a brilliant full-stack web developer, product designer, and aspiring entrepreneur
     with a passion for technology, education, and strategy. Although he was
     not on the team, he was always around to help and ensure things got running!
  </div>
</div>
</div>
<br>
<h4> Aidan McLaughlin</h4>
<div class='row'>
  <div class='col-sm-2'>
    <img src='https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/15727048_10211055071109885_8477552963724687948_n.jpg?oh=ed7eb3f845c37e2b0d8db80a1a92231a&amp;oe=59B5E19E' width="82.5" height="82.5">
  </div>
  <div class='col-sm-10'>
  <div class="well">
    Aidan is a real-life rubber ducky from Boylston. We want to thank him for
    all his amazing help with Google Maps and Mapquest Api.
  </div>
</div>
</div>
{% endblock %}
