{% extends './index.html' %}

{% block content %}

  <div class='container'>
    <div class='col-sm-12'>
      <h3> Team</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis scelerisque diam, </p>
      <hr>
      <h4>Team Member 1</h4>
      <div class="well">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis scelerisque diam, sit amet sodales mauris interdum in. Aliquam erat volutpat. Cras massa erat, condimentum vitae erat vel, dignissim mattis turpis. Vivamus finibus ipsum tellus, sit amet imperdiet lectus mattis in. Curabitur faucibus quam at sapien gravida, quis suscipit justo aliquam. Morbi malesuada risus ut sapien semper, posuere accumsan nibh commodo. Sed mattis porta fermentum.
    </div>


{% endblock %}
