{% extends './index.html' %}

{% block content %}

  <div class='container'>
    <div class='col-sm-12'>
      <h3> Team</h3>
      <p> Our team consists of three Olin students and a Babson
        student, and we are all passionate about social impact.
        Our majors vary from human health design,
        sustainable design, robotics, administration and management.
        We are extremely proud to have produced an app that interfaces
        with real issues and toggles with complex questions regarding
        safety and racial biases in crime statistics.
        Please do not hesitate to provide comments and suggestions for
        our work.
      <hr>
      <h4>Christina Gee</h4>
      <div class='row'>
        <div class='col-sm-2'>
          <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/14732136_10154193052562779_6211280867050836117_n.jpg?oh=7ebcd8403875c30c960f543c7e495d36&amp;oe=59868AAF" width="124" height="82.5">
        </div>
        <div class='col-sm-10'>
        <div class="well">
          Christina is business students who is well-versed in
          team management, web tech, and sustainability initiatives. In her free time, she enjoys
          browsing Quora or eating honey lavender ice cream.
        </div>
      </div>
    </div>

    <br>
    <h4>Frankie Devanbu</h4>
    <div class='row'>
      <div class='col-sm-2'>
        <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/10891772_908804429132871_5147482254121903611_n.jpg?oh=c7552ed50e3bbb03ed3c9903ae40217d&amp;oe=598E6DC0" width="82.5" height="82.5">
      </div>
      <div class='col-sm-10'>
      <div class="well">
        Frankie is a charasmatic and compassionate human being who is a
         wholistic-thinker, investigator, and facilitator. She is super passionate
         about advancing technology for women's health, and practicing the design
         methologies to create impactful solutions. You can usually find her in
         dining hall with a onesie and a dinosaur singing the blues.
      </div>
    </div>
  </div>

  <br>
  <h4>Jeff Pflueger</h4>
  <div class='row'>
    <div class='col-sm-2'>
      <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/17190564_1872183656331455_5175419662515228390_n.jpg?oh=d94298faff6829873537e180fd3d85e7&amp;oe=59C29626" width="82.5" height="82.5">
    </div>
    <div class='col-sm-10'>
    <div class="well">
      Jeff is a caring and resourceful person who can break down goals
      into digestable chunks. He is a planner and likes to see how pieces of a
      system fits together as a whole. He is excited about his future as a
      robotics engineer and aims to use technology in impactful ways. Sometimes,
      he likes to hang upside down to solve crossword puzzles.
    </div>
  </div>
</div>

<br>
<h4>Alisha Pegan</h4>
<div class='row'>
  <div class='col-sm-2'>
    <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/11059973_10207638783113492_973339677034828885_o.jpg?oh=27356f2cafb58d9dadf16874c6a4a8d7&amp;oe=59C29D1C" width="146.5" height="82.5">
  </div>
  <div class='col-sm-10'>
  <div class="well">
    Alisha is a enthusiastic and jubilant human being who has been told her laughter
    sounds like the laugh of a genius or a lunatic. She cares a lot about sustainable
    urban development and creating more livable and healthier cities. If you ever feed
    her hot cheetos, you will automatically become her best friend.
  </div>
</div>
</div>

{% endblock %}
