
header {
    font-family: 'Arial', Sans-serif;
    color: grey;
    padding: 20px 0;
}

header .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://c1.staticflickr.com/5/4135/4792820945_09601f93f6_b.jpg');
  background-size: cover;
  color: :#ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
