
header {
    font-family: 'Arial', Sans-serif;
    background-color: turquoise;
    text-align: center;
}

.jumbotron{
  display: flex;
  align-items: center;
  background-size: cover;
  color: :#ffffff;
  height: 700px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

form {
  line-height: 150%;
  font-family: 'Arial', Sans-serif;
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em;
}

form ul {
    list-style-type: none;
    padding: 10;
}

form ul a {
    text-decoration: none;
}

div.indicators {
    margin-left: 300px;
    padding: 2em;
    overflow: hidden;
}

h1{
  font-family: 'Arial', Sans-serif;
}

p{
  font-family: 'Arial', Sans-serif;
}
