header {
    font-family: 'Arial', Sans-serif;
    color: grey;
    padding: 20px 0;
}

header .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 20px;
  margin: 0;
}

iframe {
    outline: none;
    display: flex;
    align-items: center;
    padding: 20px;
    left: 100px;
    border: 20px;
}

.container {
  margin-left: 15px;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

#map{
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
